@model GetUserVM
<div id="wrapper">
    <!--content -->
    <div class="content">
        <!--section -->
        <section id="sec1">
            <!-- container -->
            <div class="container">
                <!-- profile-edit-wrap -->
                <div class="profile-edit-wrap">
                    <div class="profile-edit-page-header">
                        <h2>Reviews</h2>
                        <div class="breadcrumbs"><a href="#">Home</a><a href="#">Dasboard</a><span>Reviews</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="fixed-bar fl-wrap">
                                <div class="user-profile-menu-wrap fl-wrap">
                                    <!-- user-profile-menu-->
                                    <div class="user-profile-menu">
                                        <h3>Main</h3>
                                        <ul>

                                            <li><a asp-action="edituser" asp-controller="myaccount"><i class="fa fa-user-o"></i> Edit profile</a></li>
                                            <li><a asp-action="changepassword" asp-controller="account" class="user-profile-act"><i class="fa fa-unlock-alt"></i>Change Password</a></li>
                                            <li><a asp-action="forgotpassword" asp-controller="account" class="user-profile-act"><i class="fa fa-unlock-alt"></i>Forgot Password</a></li>
                                        </ul>
                                    </div>
                                    <!-- user-profile-menu end-->
                                    <!-- user-profile-menu-->
                                    @if (User.IsInRole(UserRole.BiznesOwner.ToString()))
                                    {
                                        <div class="user-profile-menu">
                                            <h3>Listings</h3>

                                            <ul>
                                                <li><a asp-action="index" asp-controller="mylistings"><i class="fa fa-th-list"></i> My listings  </a></li>
                                                <li><a asp-action="index" asp-controller="booking"> <i class="fa fa-calendar-check-o"></i> Bookings</a></li>
                                                <li><a asp-action="index" asp-controller="review"><i class="fa fa-comments-o"></i> Reviews </a></li>
                                                <li><a asp-action="create" asp-controller="addlisting"><i class="fa fa-plus-square-o"></i> Add New Place</a></li>
                                                <li><a asp-action="create" asp-controller="addblog"><i class="fa fa-plus-square-o"></i> Add New Blog</a></li>
                                            </ul>
                                        </div>
                                    }

                                    <!-- user-profile-menu end-->
                                    <a asp-action="logout" asp-controller="account" class="log-out-btn">Log Out</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="dashboard-list-box fl-wrap">
                                <div class="dashboard-header fl-wrap">
                                    <h3>Indox</h3>
                                </div>
                                <div class="reviews-comments-wrap">
                                @*    @foreach (var item in collection)
                                    {
                                        
                                    } *@
                                    <div class="reviews-comments-item">
                                        <div class="review-comments-avatar">
                                            <img src="images/avatar/1.jpg" alt="">
                                        </div>
                                        <div class="reviews-comments-item-text">
                                            <h4><a href="#">Jessie Manrty</a> on <a href="listing-single.html" class="reviews-comments-item-link">Luxury Restourant</a></h4>
                                            <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                                            <div class="clearfix"></div>
                                            <p>" Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris. "</p>
                                            <span class="reviews-comments-item-date"><i class="fa fa-calendar-check-o"></i>27 May 2018</span>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                           
                            
                        </div>
                    </div>
                </div>
                <!--profile-edit-wrap end -->
            </div>
            <!--container end -->
        </section>
        <!-- section end -->
        <div class="limit-box fl-wrap"></div>
        <!--section -->
        
        <!-- section end -->
    </div>
</div>