@model ChangePasswordVM
<div id="wrapper">
    <!--content -->
    <div class="content">
        <!--section -->
        <section id="sec1">
            <!-- container -->
            <div class="container">
                <!-- profile-edit-wrap -->
                <div class="profile-edit-wrap">
                    <div class="profile-edit-page-header">
                        <h2>Change Password</h2>
                        <div class="breadcrumbs"><a href="#">Home</a><a href="#">Dasboard</a><span>Change Password</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="fixed-bar fl-wrap">
                                <div class="user-profile-menu-wrap fl-wrap">
                                    <!-- user-profile-menu-->
                                    <div class="user-profile-menu">
                                        <h3>Main</h3>
                                        <ul>
                                          
                                            <li><a asp-action="index" asp-controller="myaccount"><i class="fa fa-user-o"></i> Edit profile</a></li>
                                            <li><a asp-action="changepassword" asp-controller="account" class="user-profile-act"><i class="fa fa-unlock-alt"></i>Change Password</a></li>
                                            <li><a asp-action="forgotpassword" asp-controller="account" class="user-profile-act"><i class="fa fa-unlock-alt"></i>Forgot Password</a></li>
                                        </ul>
                                    </div>
                                    <!-- user-profile-menu end-->
                                    <!-- user-profile-menu-->
                                    @if (User.IsInRole(UserRole.BiznesOwner.ToString()))
                                    {
                                        <div class="user-profile-menu">
                                            <h3>Listings</h3>

                                            <ul>
                                                <li><a asp-action="index" asp-controller="mylistings"><i class="fa fa-th-list"></i> My listigs  </a></li>
                                                <li><a asp-action="index" asp-controller="booking"> <i class="fa fa-calendar-check-o"></i> Bookings</a></li>
                                                <li><a asp-action="index" asp-controller="review"><i class="fa fa-comments-o"></i> Reviews </a></li>
                                                <li><a asp-action="create" asp-controller="addlisting"><i class="fa fa-plus-square-o"></i> Add New Place</a></li>
                                                <li><a asp-action="create" asp-controller="addblog"><i class="fa fa-plus-square-o"></i> Add New Blog</a></li>
                                            </ul>
                                        </div>
                                    }
                                   
                                    <!-- user-profile-menu end-->
                                    <a asp-action="logout" asp-controller="account" class="log-out-btn">Log Out</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <!-- profile-edit-container-->
                            <div class="profile-edit-container">
                                <div class="profile-edit-header fl-wrap" style="margin-top:30px">
                                    <h4>Change Password</h4>
                                </div>
                                <div asp-validation-summary="ModelOnly" style="color: red";></div>
                                <form method="post">
                                    <div class="custom-form no-icons">
                                        <div class="pass-input-wrap fl-wrap">
                                            <label asp-for="Password">Current Password</label>
                                            <input asp-for="Password"  type="password" class="pass-input" placeholder="" value="" />
                                            <span class="eye"><i class="fa fa-eye" aria-hidden="true"></i> </span>
                                            <span asp-validation-for="Password"></span>
                                        </div>
                                        <div class="pass-input-wrap fl-wrap">
                                            <label asp-for="NewPassword">New Password</label>
                                            <input asp-for ="NewPassword" type="password" class="pass-input" placeholder="" value="" />
                                            <span class="eye"><i class="fa fa-eye" aria-hidden="true"></i> </span>
                                            <span asp-validation-for="NewPassword"></span>
                                        </div>
                                        <div class="pass-input-wrap fl-wrap">
                                            <label asp-for="NewConfirmPassword">Confirm New Password</label>
                                            <input asp-for ="NewConfirmPassword"  type="password" class="pass-input" placeholder="" value="" />
                                            <span   class="eye"><i class="fa fa-eye" aria-hidden="true"></i> </span>
                                            <span asp-validation-for="NewConfirmPassword"></span>
                                        </div>
                                        <button class="btn  big-btn  color-bg flat-btn">Save Changes<i class="fa fa-angle-right"></i></button>
                                    </div>
                                </form>
                               
                                
                            </div>
                            <!-- profile-edit-container end-->
                        </div>
                    </div>
                </div>
                <!--profile-edit-wrap end -->
            </div>
            <!--container end -->
        </section>
        
    </div>
</div>