@model FindAccountVM
<div id="wrapper">
    <!--content -->
    <div class="content">
        <!--section -->
        <section id="sec1">
            <!-- container -->
            <div class="container">
                <!-- profile-edit-wrap -->
                <div class="profile-edit-wrap">
                    <div class="profile-edit-page-header">
                        <h2>Forgot Password</h2>
                       
                    </div>
                    <div class="row">
                        <div id="tab-1" class="tab-content" style="padding:0 0 100px">
                            <div asp-validation-summary="All"></div>
                            <div>

                                <form class="pt-3 " method="post" style="max-width:800px; margin: 0 auto;">
                                    <div>
                                       
                                        <input asp-for="UserNameOrEmail" class="form-control form-control-lg" placeholder="Username or Email">
                                        <span asp-validation-for="UserNameOrEmail" class="m-1 text-danger"></span>
                                       

                                    </div>
                                    <div style="display: flex; justify-content: center;gap: 34px; padding: 20px 0;">

                                        <button type="submit" class="form-control form-control-lg" style="max-width: 180px " onmouseover="this.style.color='green'" onmouseout="this.style.color='black'">Enter</button>
                                        <a asp-action="Login" asp-controller="Account"
                                  
                                           class="form-control form-control-lg" style="color: black; text-decoration: none; max-width:180px" onmouseover="this.style.color='green'"
                                           onmouseout="this.style.color='black'">Cancel
                                       </a>

                                    </div>
                                   
                                   

                                </form>


                            </div>
                        </div>
                       
                    </div>
                </div>
                <!--profile-edit-wrap end -->
            </div>
            <!--container end -->
        </section>
        
    </div>
</div>
