@model LoginVM

<!--register form -->
<div class="bg-light">
    <div class="container col-6 ">
        <div id="tabs-container" style="margin-top:200px;">
            <ul>

                <li style="font-size:25px"> Login</li>
            </ul>
            <div class="tab">
                <div id="tab-1" class="tab-content" style="padding:0 0 100px">
                    <div asp-validation-summary="All"></div>
                    <div >

                        <form class="pt-3 " style="max-width:800px; margin: 0 auto;">
                            <div >
                                
                                <input asp-for="UsernameOrEmail" class="form-control form-control-lg" placeholder=" Username Or Email" />
                                <span class="text-danger" asp-validation-for="UsernameOrEmail"></span>
                                
                            </div>
                            <div >
                                
                                <input asp-for="Password" type="password" class="form-control form-control-lg mt-3" placeholder="Password" />
                                <span class="text-danger" asp-validation-for="Password"></span>
                               
                            </div>
                            <div class="mt-3">
                                <div style="text-align: start;">
                                    <div class="form-check">
                                        <label asp-for="IsRemembered"  class="form-check-label text-muted">
                                            <input type="checkbox" asp-for="IsRemembered" class="form-check-input">
                                            Keep me signed in
                                        </label>
                                    </div>

                                    <button style="border: none; background: #4DB7FE; font-size: small; color: white; font-weight: bold; padding: 14px 40px; border-radius: 6px;">SIGN IN</button>


                                </div>
                            </div>
                            <div >
                               

                                <div style="display: flex; justify-content: space-between; margin-top:32px;" class=" ">

                                    <a href="#" class="auth-link text-black ">Forgot password?</a>

                                    <div>
                                        Don't have an account? <a asp-action="register" asp-controller="account" class="text-primary">Create</a>
                                    </div>

                                </div>

                                
                            </div>
                            
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--register form end -->