@model ResetPasswordVM
<div id="wrapper">
    <!--content -->
    <div class="content">
        <!--section -->
        <section id="sec1">
            <!-- container -->
            <div class="container">
                <!-- profile-edit-wrap -->
                <div class="profile-edit-wrap">
                    <div class="profile-edit-page-header">
                        <h2>Reset Password</h2>
                       
                    </div>
                    <div class="row">
                        
                        <div class="col-md-9">
                            <!-- profile-edit-container-->
                            <div class="profile-edit-container">
                                <div class="profile-edit-header fl-wrap" style="margin-top:30px">
                                    <h4>Reset Password</h4>
                                </div>
                                <div asp-validation-summary="ModelOnly" style="color: red"></div>
                                <form method="post">
                                    <div class="custom-form no-icons">
                                       
                                        <div class="pass-input-wrap fl-wrap">
                                            <label asp-for="NewPassword">New Password</label>
                                            <input asp-for="NewPassword" type="password" class="pass-input" placeholder="" value="" />
                                            <span class="eye"><i class="fa fa-eye" aria-hidden="true"></i> </span>
                                            <span asp-validation-for="NewPassword"></span>
                                        </div>
                                        <div class="pass-input-wrap fl-wrap">
                                            <label asp-for="NewConfirmPassword">Confirm New Password</label>
                                            <input asp-for="NewConfirmPassword" type="password" class="pass-input" placeholder="" value="" />
                                            <span class="eye"><i class="fa fa-eye" aria-hidden="true"></i> </span>
                                            <span asp-validation-for="NewConfirmPassword"></span>
                                        </div>
                                        <button class="btn  big-btn  color-bg flat-btn">Save Changes<i class="fa fa-angle-right"></i></button>
                                    </div>
                                </form>


                            </div>
                            <!-- profile-edit-container end-->
                        </div>
                    </div>
                </div>
                <!--profile-edit-wrap end -->
            </div>
            <!--container end -->
        </section>

    </div>
</div>

