@model CreateBlogVM
<!-- wrapper -->
<div id="wrapper">
    <!--content -->
    <div class="content">
        <!--section -->
        <section id="sec1">
            <!-- container -->
            <div class="container">
                <!-- profile-edit-wrap -->
                <div class="profile-edit-wrap">
                    <div class="profile-edit-page-header">
                        <h2>Add Blog</h2>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="user-profile-menu-wrap fl-wrap">
                                <!-- user-profile-menu-->
                                <div class="user-profile-menu">
                                    <h3>Main</h3>
                                    <ul>

                                        <li><a asp-action="edituser" asp-controller="myaccount"><i class="fa fa-user-o"></i> Edit profile</a></li>
                                        <li><a asp-action="changepassword" asp-controller="account" class="user-profile-act"><i class="fa fa-unlock-alt"></i>Change Password</a></li>
                                        <li><a asp-action="forgotpassword" asp-controller="account" class="user-profile-act"><i class="fa fa-unlock-alt"></i>Forgot Password</a></li>
                                    </ul>
                                </div>
                                <!-- user-profile-menu end-->
                                <!-- user-profile-menu-->
                                @if (User.IsInRole(UserRole.BiznesOwner.ToString()))
                                {
                                    <div class="user-profile-menu">
                                        <h3>Listings</h3>

                                        <ul>
                                            <li><a asp-action="index" asp-controller="mylistings"><i class="fa fa-th-list"></i> My listings  </a></li>
                                            <li><a href="dashboard-bookings.html"> <i class="fa fa-calendar-check-o"></i> Bookings <span>2</span></a></li>
                                            <li><a href="dashboard-review.html"><i class="fa fa-comments-o"></i> Reviews </a></li>
                                            <li><a asp-action="create" asp-controller="addlisting"><i class="fa fa-plus-square-o"></i> Add New Place</a></li>
                                            <li><a asp-action="create" asp-controller="addblog"><i class="fa fa-plus-square-o"></i> Add New Blog</a></li>
                                        </ul>
                                    </div>
                                }

                                <!-- user-profile-menu end-->
                                <a asp-action="logout" asp-controller="account" class="log-out-btn">Log Out</a>
                            </div>
                        </div>
                        <form method="post" enctype="multipart/form-data" class="col-md-9">
                            <!-- profile-edit-container-->
                            <div class="profile-edit-container add-list-container">
                                <div class="profile-edit-header fl-wrap">
                                    <h4>Add Blog</h4>
                                </div>



                                <div class="custom-form">
                                    <label asp-for="Name">Title <i class="fa fa-briefcase"></i></label>
                                    <input asp-for="Name" Blogholder="Name of your business" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <h4 >Tags </h4>

                                                <label asp-for="TagIds"></label>
                                                <select asp-for="TagIds" asp-items="new SelectList(Model.Tags, nameof(IncludeBTagVM.Id), nameof(IncludeBTagVM.Name))" class="form-control">
                                                    <option selected disabled>Choose Tags</option>
                                                </select>
                                                <span asp-validation-for="TagIds" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="profile-edit-container add-list-container">
                                <div class="profile-edit-header fl-wrap">
                                    <h4>Detailed Information</h4>
                                </div>
                                <div class="custom-form">
                                    <label asp-for="Text">Text</label>
                                    <textarea asp-for="Text" cols="40" rows="3" placeholder=""></textarea>
                                    <span asp-validation-for="Text" class="text-danger"></span>
                                    <!-- Checkboxes -->
                                    
                                </div>
                            </div>
                            <div class="profile-edit-container add-list-container">
                                <div class="profile-edit-header fl-wrap">
                                    <h4>Header Media</h4>
                                </div>
                                <div class="custom-form">
                                    <div class="row">
                                        <!--col -->
                                        <div class="col-md-4">

                                            <div class="add-list-media-header">
                                                <label asp-for="Photos">Images</label>

                                                <input asp-for="Photos" accept="image/*" checked>
                                                <span asp-validation-for="Photos" class="text-danger">Click here or drop files to upload</span>

                                            </div>

                                        </div>
                                        <!--col end-->


                                    </div>
                                </div>
                            </div>
                            <div style="margin-bottom:20px;">
                                <button type="submit" class="btn btn-primary me-2">Submit</button>
                                <button asp-action="index" asp-controller="home" class="btn btn-danger">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--profile-edit-wrap end -->
            </div>
            <!--container end -->
        </section>
        <!-- section end -->
        <div class="limit-box fl-wrap"></div>
        <!--section -->
       


        <!-- section end -->
    </div>
</div>
<!-- wrapper end -->